* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica", "Arial", serif;
  color: #333;
  background-color: azure;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: transparent;
  color: #ce0909;
}
#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  width: 97%;
  margin: auto;
  list-style: none;
}
#gallery li {
  padding: 0.4em; 
}
li img {
  border-radius: 3%;
}
li img:hover {
  box-shadow: 2px 2px 3px #ce0909;
}
#placeholder {
  margin: auto;
  display: block;
  border: 5px solid #ce0909;
  border-radius: 3%;
  clear: both;
}
#description {
  font-weight: 500;
  font-size: 1.5em;
  color: #170505;
}
footer {
  color: #170505;
  padding: 0.4em;
  margin: 0%;
  font-size: smaller;
}
